body {
    font-family: 'Lato', sans-serif;
    color: #121212;
}

hr {
    border-top: 1px solid #f0f0f0;
}

table {
    border-collapse: collapse;
}

.code td {
    padding: 5px;
}

/*logo -- css*/
.setting-img {
    overflow: hidden;
    max-width: 100%;
}

.img-wrap-general-logo {
    overflow: hidden;
    margin: 5px;
    max-width: 100%;
}

.img-wrap-general-logo>img {
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
    width: auto !important;
    object-fit: contain;
}
.agent-tbl-title {
    font-size:16px; 
    color:#000000; 
    line-height:25px; 
    font-weight:bold;
}
.agent-tbl-val {
    font-size:15px; 
    color:#4e5c6e; 
    line-height:22px;
}
.agent-main-div {
    width:900px; 
    margin:auto; 
    top:20px; 
    position:relative;
}
.agent-tbl-margin-bottom {
    margin-bottom:40px;
}
.agent-tbl-details {
    margin-top:20px; 
    width:300px;
}
.agent-tbl-td-1 {
    font-size:16px; 
    color:#000000; 
    font-weight:bold;
}
.agent-tbl-td-2 {
    font-size:16px; 
    color:#000000;
}
.agent-tbl-td-3 {
    font-size:15px; 
    color:#4e5c6e; 
    text-align:right;
}
.agent-tbl-td-3-bold {
    font-size:15px; 
    color:#4e5c6e; 
    text-align:right;
    font-weight:bold;
}
.agent-pd-bottom {
    padding-bottom:10px;
}
.agent-text-align-right {
    text-align:right;
}
.agent-pdf-border {
    border-top:1px solid #eaeaea; 
    padding-top:0; 
    margin-bottom:3px;
}