.select2-container .select2-selection--single {
    height: 50px !important;

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered gg{
    margin-top: 9px !important;
}
.select2-container--default .select2-selection--single{
    background-color: #F5F6FA !important;
    border: 1px solid #e2e8f0 !important;
}
.select2-container--default .select2-selection--single:hover{
    background-color: #F5F6FA !important;
    border: 2px solid #635bff !important;
}
span#select2-user-container {
    padding-top: 8px;
}
.dark .select2-results {
    display: block;
    background-color: black;
}

.select2-container--default .select2-selection--single {
    background-color: #F5F6FA !important;
}
.dark .select2-container--default .select2-selection--single {
    background-color: #181818 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dark .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #6a6a6a;
}
.dark .select2-container--default .select2-selection--single:hover{
    background-color: #000000 !important;
    border: 2px solid #635bff !important;
}
.dark input.select2-search__field {
    background-color: black !important;
    color: white !important;

}

.dark span.select2-dropdown {
    background-color: black !important;
}

.dark span#select2-user-container {
    color: white;
}